<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Wood frog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
      <div class="container">
        <button
          type="button"
          class="navbar-toggler collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Wood frog</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav mr-auto">
            <li class="active nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/woodfrog" class="nav-link">wood frog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Want to Learn About wood frog?</h1>
        <p>Are you ready to learn about wood frog?</p>
        <br />
        <p>
          <a class="btn btn-primary btn-lg" href="/woodfrog" role="button"
            >Get Wood frog Info</a
          >
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Not all wood frog are alike</h3>
          <p>
            Wood frogs are found in the United States throughout the forests of Alaska and the Northeast.
            They are found in smaller numbers as far south as Alabama and northwest into Idaho.
          </p>
        </div>
        <div class="col-lg-6">
          <h3>wood frog</h3>
          <p>
            Their bodies produce a special antifreeze substance that prevents ice from freezing within their cells, which would be deadly.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
